h1, h2, h3, p {font-family: Helvetica;}
.cost {color: blue; font-weight: bold;}
h1 {background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg"); font-size: 100px; font-weight: bold; color: khaki; text-align: center;}
.Brushes {background-color: MediumSpringGreen; color: white; font-size: 32px; font-weight: bold;}
.Frames {background-color: LightCoral; color: white; font-size: 32px; font-weight: bold;}
.Paints {background-color: SkyBlue; color: white; font-size: 32px; font-weight: bold;}
